meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
title #{data.siteTitle}
meta(itemprop="name" content= data.siteTitle)
meta(name="description" content= data.siteDescription)
meta(itemprop="url" content= data.siteUrl)