//- ===================================
//- OPEN GRAPH standard property
//- ===================================
<!-- tw meta -->
meta(property="twitter:card" content= data.twCard)
meta(property="twitter:title" content= data.siteTitle)
meta(property="twitter:description" content= data.siteDescription)
meta(property="twitter:image" content= data.ogImage)