script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/jquery.gsap.min.js")
//- script(src="./libs/imagesloaded/imagesloaded.pkgd.js")
//- //- script(src="./libs/mobile-detect/mobile-detect.js")
//- script(src="./js/function.js")
script(src="./js/app.js")
