//- ===================================
//- OPEN GRAPH standard property
//- ===================================
<!-- fb meta -->
meta(property="og:title" content= data.siteTitle)
meta(property="og:type" content= data.ogType)
meta(property="og:url" content= data.siteUrl)
meta(property="og:image" content= data.ogImage)
meta(property="og:site_name" content= data.siteName)
meta(property="og:description" content= data.siteDescription)
//- meta(property="fb:app_id" content= data.fbAppId)
//- meta(property="fb:admins" content= data.fbAdmins)