//- Basic config of project
-
  var data = {
    siteTitle       : 'LINE TW TechPulse 2017',
    siteUrl         : 'https://techpulse.line.me',
    siteName        : 'LINE TW TechPulse 2017',
    siteKeywords    : 'LINE TW TechPulse 2017',
    siteDescription : '為持續開放平排資源與推廣行動裝置上的創新應用，第二屆的「LINE TW TechPulse」將為台灣開發者介紹最新的LINE API串接套件, 以及首次公開IoT應用平台等第一手資訊。',
    // og meta（http://ogp.me/#types）
    ogLocale        : 'zh-TW',
    ogType          : 'website',
    ogImage         : 'https://techpulse.line.me/img/og-image.png', // 絕對路徑
    fbAdmins        : '',
    fbAppId         : '',
    //- tw meta
    twCard          : 'summary_large_image', 
    // “summary”, “summary_large_image”, “app”, or “player”.
    // Google Analytics
    gaTrack         : '',
    //- Facebook Pixel
    fpTrack         : '', // Insert your pixel ID here.
  }
  //- Icon config for favicon
  var icon = {
    default        : './img/favicon.ico'
  }
  //- var icon = {
  //-   default         : '',
  //-   iconColor       : '',
  //-   icon76          : '',
  //-   icon120         : '',
  //-   icon128         : '',
  //-   icon152         : '',
  //-   icon192         : ''
  //- }