// -- Font -- //
$ftDefault: Helvetica,"微軟正黑體", "蘋果儷黑體",Arial,sans-serif; 

$ftCHT: 'Noto Sans', sans-serif;
$ftEN: Helvetica,Arial,sans-serif; 

$ftColr: #000;

$fsD : 18px;
$fsM : 16px;

$bgColr: #000000;